.howandwhy
    position relative

    &__term
        display inline-flex
        color hsl( 345, 75%, 48% )
        position relative
        animation .5s inPlaceTada 1s
        z-index 100

    &__target:hover &__term
        animation-duration .7s
        animation-iteration-count infinite
        text-decoration-color lime
        -webkit-text-decoration-color lime

    & &__term:hover
        animation none

    &__baloon
        position absolute
        top 50%
        left 50%
        width 240px
        height 160px
        z-index 1

        background transparent url( 'chrome-extension://__MSG_@@extension_id__/images/why.png' ) center / cover

        transform translate(0, 0) scale(0)
        opacity 0

        transform-origin left top
        transition .2s

    &__term:hover &__baloon
        opacity 1
        transform translate(-57%, -75%) scale(1)


    &__why
        position relative
        z-index 1
