@keyframes tada
    0%
        transform scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg)

    10%
        transform scale3d(.05, .05, .05) rotate3d(0, 0, 1, -3deg)

    25%, 45%, 65%, 85%
        transform scale3d(1, 1, 1) rotate3d(0, 0, 1, 3deg)

    35%, 55%, 75%
        transform scale3d(1, 1, 1) rotate3d(0, 0, 1, -3deg)

    100%
        transform scale3d(1, 1, 1) rotate3d(0, 0, 0, 0deg)
